<div id="listOfJournal">
    <table id="template_table" class="center">
        <tr id="table_header">
            <td id="number">№</td>
            <td>Дата</td>
            <td>Наименованые лекарстви</td>
            <td>Количество</td>
            <td>
                <select title="" id="filter" form="addComing">
                    <option value="all">Все записи</option>
                    <option value="today">Сегоднящные записи</option>
                    <option value="yesterday">Вчерашные записи</option>
                    <option value="currentWeek">Текущая неделя</option>
                    <option value="lastWeek">Прошлая неделя</option>
                    <option value="currentMonth">Текущий месяц</option>
                    <option value="lastMonth">Прошлый месяц</option>
                </select>
            </td>
        </tr>
        <form id="addComing" name="addComing">
            <tr id="comingsForm">
                <td></td>
                <td>
                    <input type="date"  name="date"  title="" form="addComing">
                </td>
                <td>
                    <select title="" id="medicines" form="addComing">
                        <option></option>
                        {{#each medicine}}
                            <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </td>
                <td class="quanCom">
                    <input type="number"  name="quantity" title="" form="addComing">
                </td>
                <td>
                    <button id="addNewComing" class="btn btn2" form="addComing">Добавить </button>
                    <button id="updateComing" class="btn btn2 hidden" form="addComing">Сохранить</button>
                </td>
             </tr>
        </form>
        {{#each coming}}
            <tr>
                <td>{{number}}</td>
                <td class="dates" >{{date}}</td>
                <td id="name">{{name}}</td>
                <td>{{quantity}}</td>
                <td class="settingsOfComings">
                    <p class="hidden">{{id}}</p>
                </td>
            </tr>
        {{/each}}
        <tr id="pages" class="hidden">
            <td colspan="6">
                Страницы
                {{#each page}}
                    <div class="pages">
                        <p class="hide">{{currentPage}}</p><a>{{number}}</a>
                    </div>
                {{/each}}
            </td>
        </tr>
    </table>
</div>